html(lang='en')
  head
    title #{locals.title || "Namely Leads"}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bower/angular-material/angular-material.min.css')
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/angular-animate/angular-animate.min.js')
    script(src='/bower/angular-aria/angular-aria.min.js')
    script(src='/bower/angular-messages/angular-messages.min.js')
    script(src='/bower/angular-material/angular-material.min.js')
    script(src='/leadsApp.js')

  body(ng-app='LeadsApp', ng-cloak='', layout="column", layout-padding)
    md-toolbar(
      class="md-tall",
      layout="column",
    )
      div(flex="20")
      h2(flex="40", class="md-toolbar-tools", layout="row")
        span #{locals.title || "Namely Leads"}
        div(flex)
        if locals.user
          span Welcome, #{locals.user}
      div(flex="40", layout="row", layout-align="center start")
        span(flex)
        if locals.user
          md-button(ng-href="/logout", md-secondary) Logout
        else
          p Login as...
          md-button(
            ng-href="/login/alice",
            class="md-fab md-mini",
          )
            img(ng-src="images/alice.jpeg", class="md-avatar")
          md-button(
            ng-href="/login/birya",
            class="md-fab md-mini",
          )
            img(ng-src="images/birya.jpeg", class="md-avatar")
          md-button(
            ng-href="/login/cat",
            class="md-fab md-mini",
          )
            img(ng-src="images/cat.jpeg", class="md-avatar")

    block content
