html(lang='en')
  head
    title #{locals.title || "Namely Leads"}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bower/angular-material/angular-material.min.css')
    script(src='/bower/angular/angular.min.js')
    script(src='/bower/angular-animate/angular-animate.min.js')
    script(src='/bower/angular-aria/angular-aria.min.js')
    script(src='/bower/angular-messages/angular-messages.min.js')
    script(src='/bower/angular-material/angular-material.min.js')
    script(src='/leadsApp.js')
    style.
      #container { max-width: 800px; margin: 0 auto;}
      textarea { width: 100%; height: 5em;}
      #allprofiles md-list-item-text { padding: 5px; width:100%; margin-bottom: 5px;}
      .promoted { background-color: rgba(0,200,50,0.3)}

  body(ng-app='LeadsApp', ng-cloak='', layout="column", layout-padding)
    md-toolbar(
      class="md-tall",
      layout="column",
    )
      h2(flex="40", class="md-toolbar-tools", layout="row")
        md-button(class="md-primary", ng-href="/") Namely Leads
        div(flex)
      div(flex="20")
      div(flex="40", layout="row", layout-align="center start")
        span(flex)
        if locals.user
          md-button(ng-href="/myprofile", md-secondary) My Profile
          md-button(ng-href="/profiles", md-secondary) All Profiles
          md-button(ng-href="/logout", md-secondary) Logout
          md-button(
            class="md-fab md-mini",
          )
            img(ng-src="images/#{locals.user}.jpeg", class="md-avatar")
        else
          p Login as...
          md-button(
            ng-href="/login/alice",
            class="md-fab md-mini",
          )
            img(ng-src="images/alice.jpeg", class="md-avatar")
          md-button(
            ng-href="/login/birya",
            class="md-fab md-mini",
          )
            img(ng-src="images/birya.jpeg", class="md-avatar")
          md-button(
            ng-href="/login/cat",
            class="md-fab md-mini",
          )
            img(ng-src="images/cat.jpeg", class="md-avatar")

    #container
      block content
